{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<div class="row row-reg">
  <div class="left"></div>
  <div class="middle"></div>
  <div class="right">
    <h1>User information:</h1><br>
    <form method="post" id="name">
      <p>
        <strong>Name: </strong><tag id="stg">{{name}}</tag>
        <input type="hidden" value={{name}} id="nm" name="nm"/>
        <button class="btn btn-secondary btn-spec" type="button" name="chng_nm_btn" onclick="change_name()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
          </svg>
        </button>
      </p>
    </form>
    <p><strong>Email: </strong> {{email}}</p>
    <form method="post" id="pass">
      <p><input type="hidden" placeholder="old password" id="old_pass" name="old_pass"/></p>
      <p><input type="hidden" placeholder="new password" id="new_pass" name="new_pass"/></p>
      <p><button class="btn btn-secondary" type="button" name="change_pass_btn" onclick="change_pass()">Change password</button></p>
    </form>
    <form method="post" id="del_acc">
      <p><input type="hidden" placeholder="type DELETE and click" id="del" name="del"/></p>
      <p><button class="btn btn-secondary" name="del_acc_btn" type="button" onclick="del_acc()">Delete account</button></p>
    </form>
    {% if orders|length %}
    <div class="view-element">
      <button class="btn btn-secondary center" type="button" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="false" aria-controls="collapseExample">
        Previous orders
      </button>
    </div>
  </div>
</div>
<div class="usr-prev-ord">
  <div class="collapse" id="orders">
    {% for order in orders %}
      <div style="padding-bottom: 10px;">
        <button class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button" data-bs-toggle="collapse" data-bs-target="#order-{{order.id}}" aria-expanded="false" aria-controls="collapseExample">
        +
        </button>
        <strong>Order id:</strong> {{order.id}} - <strong>Date:</strong> {{order.order_date}} - <strong>Total:</strong> {{order.total_amount}} €
      </div>
      <div class="collapse" id="order-{{order.id}}">
        <ul>
          {% for item,name in order_items %}
            {% if item.order_id == order.id %}
              <li style="margin-left: 3em;">{{name}} - {{item.quantity}} pc(s) - {{item.price}} €/pc</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<script src="{{ url_for('static', filename='js/user.js') }}" ></script>
{% endblock %}