/* footer always on bottom */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* icon inline with alert text */
.as {
   margin-top:5px;    
}

/* user button on navbar */
.div-btn {
    margin-right: 10px;
}

/* icon buttons special sizing */
.btn-spec {
    height: 30px;
    width: 30px;
    padding-top: 0px;
    padding-left: 6px;
    margin-top: -3px;
    margin-left: 5px;
}

.alert {
    width: 400px;
    justify-content: center;
    justify-self: center;
    margin:auto;
}

/* view.html */
.column {
  margin-bottom: 5px;
}

/* special indent at user,login and register pages */
.left, .middle {
  width: 20%;
}

.right {
  width: 60%;
}

/* responsive table form */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* responsive layout */
@media (max-width:800px){
        .row {
            display: inline;
        }
        .row-reg {
            display: flex;
        }
        .left, .middle {
            width: 10%;
        }
        .right {
            width: 80%;
        }
        
        .responsive-table,
        .responsive-table tr,
        .responsive-table td {
          display: block;
          width: 100%;
        }

        .responsive-table td {
          border: none;
          border-bottom: 1px solid #ccc;
        }
    }