{%extends "base.html" %}
{% block title %}View all users{% endblock %}
{% block content %}
<div class="view-element">
  <button class="btn btn-secondary center" type="button" data-bs-toggle="collapse" data-bs-target="#users" aria-expanded="false" aria-controls="collapseExample">
    Users
  </button>
</div>
<div class="collapse" id="users">
  {% for user in users %}
    <div class="row">
      <div class="column left">
        <strong>Name:</strong> {{user.name}}
      </div>
      <div class="column middle">
        <strong>Email:</strong> {{user.email}}
      </div>
      <div class="column right">
        <strong>Password:</strong> {{user.password}}
      </div>
    </div>
  {% endfor %}
</div>
<div class="view-element">
  <button class="btn btn-secondary center" type="button" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false" aria-controls="collapseExample">
    Products
  </button>
</div>
<div class="collapse" id="products">  
  {% for product in products %}
    <div class="row">
      <div class="column left">
        <strong>Name:</strong> {{product.name}}
      </div>
      <div class="column middle">
        <strong>Price:</strong> {{product.price}}
      </div>
      <div class="column right">
        <strong>Image:</strong> {{product.image}}
      </div>
    </div>
  {% endfor %}
</div>
<div class="view-element">
  <button class="btn btn-secondary center" type="button" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="false" aria-controls="collapseExample">
    Orders
  </button>
</div>
<div class="collapse" id="orders">
  {% for order,name in orders %}
    <div style="padding-bottom: 10px;">
      <button class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button" data-bs-toggle="collapse" data-bs-target="#order-{{order.id}}" aria-expanded="false" aria-controls="collapseExample">
      +
      </button>
      <strong>Order id:</strong> {{order.id}} - <strong>User:</strong> {{name}} - <strong>Date:</strong> {{order.order_date}} - <strong>Total:</strong> {{order.total_amount}} €
    </div>
    <div class="collapse" id="order-{{order.id}}">
      <ul>
        {% for item,name in ordered_items %}
          {% if item.order_id == order.id %}
            <li style="margin-left: 3em;">{{name}} - {{item.quantity}} pc(s) - {{item.price}} €/pc</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}